.git
.github
.local
.turbo
.vite
coverage
dist
node_modules
reports
apps/.local
apps/game/.local
apps/game/dist
apps/game/node_modules
*.log
.env
.env.*
!.env.example
p2pool.cache
p2pool.log
p2pool_*_peers.txt
p2pool_peers.txt
