* text=auto

.gitattributes text eol=lf
.gitignore text eol=lf
*.css text eol=lf
*.html text eol=lf
*.js text eol=lf
*.json text eol=lf
*.md text eol=lf
*.mjs text eol=lf
*.sh text eol=lf
*.tmx text eol=lf
*.toml text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.yml text eol=lf
.githooks/* text eol=lf
Dockerfile text eol=lf
*.asmdef text eol=lf
*.asset text eol=lf
*.cs text eol=lf
*.mat text eol=lf
*.meta text eol=lf
*.prefab text eol=lf
*.txt text eol=lf
*.unity text eol=lf

*.png binary
